    <footer class="max-w-lg mx-auto flex justify-center text-white">
        <div class="w-full pt-16 pb-4 text-sm text-center fade-in">
            <a href="https://chadvidovcich.netlify.com/" target="_blank" class="hover:underline text-base">Contact Us</a>
            <p class="text-white">&copy; Hot Dog 2022</p>
            <a class="text-white no-underline hover:no-underline" href="#"></a>
        </div>
    </footer>

    <script src="https://cdn.tailwindcss.com"></script>

</body>
</html>