<script src="https://maps.googleapis.com/maps/api/js">
</script>

<script>
  function initialize() {
    const location = {
      lat: <%= post.coordinates[0] %>,
      lng: <%= post.coordinates[1] %>,
    }

    const mapProp = {
      center: location,
      zoom: 14,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    const map = new google.maps.Map(document.getElementById("googleMap"), mapProp);

    const marker = new google.maps.Marker({
      position: location,
      map: map
    })
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

<div id="googleMap" class="mt-6 h-96 mx-auto" title="Map of <%= post.title %>"></div>