:root {
    --main-color: rgb(150, 26, 26);
    --secondary-color: rgb(239, 195, 49);
    --button-color: white;
    --button-background-color: rgb(200, 138, 13);
  }

  .body-bg {
    background-color: var(--main-color);
    background-image: linear-gradient(315deg, var(--main-color) 0%, var(--secondary-color) 74%);
  }

  .btn-primary {
    color: var(--button-color);
    background-color: var(--button-background-color);
    border-radius: var(--border-radius);
  }
  
  .btn-primary:hover {
    box-shadow: inset 0 0 0 20rem var(--darken-1);
  }

  /* for google maps API */
/* 
  #googleMap {
    width:60vw;
    height:50vw;
  }
  

  @media screen and (max-width: 800px) {
    #googleMap {
      width:80vw;
      height:50vh;
    }
  } */