:root {
  --main-color: #aa0000;
  --secondary-color: #961a1a;
  --main-text-color: #e6cc22;
  --secondary-text-color: #e6cc22;
  --button-color: #aa0000;
  --button-background-color: white;
}

.body-bg {
  background-color: var(--main-color);
  background-image: linear-gradient(
    315deg,
    var(--main-color) 0%,
    var(--secondary-color) 80%
  );
}

.text-main-color {
  color: var(--main-text-color);
}

.btn-primary {
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-radius: var(--border-radius);
}

.btn-primary:hover {
  background-image: linear-gradient(rgb(0 0 0/5%) 0 0);
}

/* for google maps API */
/* 
  #googleMap {
    width:60vw;
    height:50vw;
  }
  

  @media screen and (max-width: 800px) {
    #googleMap {
      width:80vw;
      height:50vh;
    }
  } */
